<ion-content [fullscreen]="true" class="content">
  <swiper-container navigation="true">
    @for (slide of slides; track slide.id; let index = $index) {
    <swiper-slide>
      <div class="container font-data">
        <h5 class="heading text-center">Welcome to Influencer</h5>

        <div class="text-center">
          <img [src]="slide.image" alt="icon">
        </div>
        <br>

        <div class="text-center">
          <span class="stepLabel">Step {{index+1}}</span><br>
          <h6>
            {{slide.label}}
          </h6>
        </div>

        <div class="mt-10 text-center">
          @if(index===slides.length-1){
          <button type="button" class="btn btn-blue white" (click)="getStarted()">get started!</button>
          }
        </div>

        <div class="text-center logo">
          Powered by <br> Fundflo Technologies
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>

</ion-content>