<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container font-data">

    <div class="labelOverview">Overview</div><br>
    <div class="mb-3">
      <button type="button" class="btn btn-blue white" (click)="goToCreateLead()">Create lead</button>
    </div>
    <div class="mb-3">
      <button type="button" class="btn blue">Enter converted lead details</button>
    </div>
    <hr>
    <h4 class="label">Latest Lead Status</h4>
    <div class="box">
      <span class="labelinner">Lead Name</span>
      <span class="points">0 Points Collected</span>
      <div class="innerbox d-flex">
        <div class="status">Generated</div>
        <hr class="line">
        <div class="status">Validation Done</div>
        <hr class="line">
        <div class="status">Lead Converted</div>
        <hr class="line">
        <div class="status">Dealer Authenticated</div>
      </div>
    </div>
    <h4 class="label">Leads</h4>
    <div class="leadBox d-flex">
      <div class="w-20 leadboxlabel color-black">
        Lead 1
      </div>
      <div class="w-20 leadboxlabel color-black">
        Type 1
      </div>
      <div class="w-30 leadboxlabel color-black">
        24/10/2023
      </div>
      <div class="w-30 leadboxlabel color-purple">
        Lead Entered
      </div>
      <div class="w-10"><img src="../../../assets/influencer-img/arrow.svg" alt="icon"></div>
    </div>
    <br>

    <div class="leadBox d-flex">
      <div class="w-20 leadboxlabel color-black">
        Lead 1
      </div>
      <div class="w-20 leadboxlabel color-black">
        Type 1
      </div>
      <div class="w-30 leadboxlabel color-black">
        24/10/2023
      </div>
      <div class="w-30 leadboxlabel color-purple">
        Lead Entered
      </div>
      <div class="w-8 mg-5"><img src="../../../assets/influencer-img/arrow.svg" alt="icon"></div>
    </div>


    <br>

    <div class="leadBox d-flex">
      <div class="w-20 leadboxlabel color-black">
        Lead 1
      </div>
      <div class="w-20 leadboxlabel color-black">
        Type 1
      </div>
      <div class="w-30 leadboxlabel color-black">
        24/10/2023
      </div>
      <div class="w-30 leadboxlabel color-purple">
        Lead Entered
      </div>
      <div class="w-8 mg-5"><img src="../../../assets/influencer-img/arrow.svg" alt="icon"></div>
    </div>

    <br>

    <div class="leadBox d-flex">
      <div class="w-20 leadboxlabel color-black">
        Lead 1
      </div>
      <div class="w-20 leadboxlabel color-black">
        Type 1
      </div>
      <div class="w-30 leadboxlabel color-black">
        24/10/2023
      </div>
      <div class="w-30 leadboxlabel color-purple">
        Lead Entered
      </div>
      <div class="w-8 mg-5"><img src="../../../assets/influencer-img/arrow.svg" alt="icon"></div>
    </div>

  </div>
</ion-content>