.container {
    box-shadow: 0px 8px 16px 0px #0000003D;
    height: -webkit-fill-available;
    background: #EDF9FF
}

h6 {
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    color: #2D3748;
}


.btn {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.25px;
    width: 85%;
    height: 40px;
    border-radius: 100px;
    text-transform: uppercase;
    margin: 0 30px;
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #1981B4;
    border: 1px solid #2D3748
}

.btn-blue {
    background: #1981B4;
}

hr {
    background: #E0E0E0;
}

.label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    color: #2D3748;
}

.box {
    padding: 10px;
    width: 100%;
    height: 90px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.24);
}

.innerbox {
    margin-top: 2%;
}

.labelinner {
    color: #2D3748;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
}

.points {
    color: #98197F;
    float: right;
    margin-top: 2%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.014px;
}

.status {
    border-radius: 8px;
    border: 1px solid #43C2E7;
    width: 23%;
    height: 36px;
    flex-shrink: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.0015em;
    text-align: center;
    color: #2D3748;
    padding: 8px 3px;
}

.line {
    border: 1px solid #D9D9D9
}

.leadBox {
    width: 100%;
    height: 34px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 9px 8px;
}

.w-8 {
    width: 8%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.leadboxlabel {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.0015em;
}

.mg-5 {
    margin-top: -5px;
}