<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>confirmation</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">confirmation</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="text-center"><img class="confirmImg" src="../../../assets/influencer-img/confirm.svg"></div>
    <h4>Thank You!</h4>
    <p>We are validating your account, mean while you can share more details</p>

    <div class="m-b-5">
      <button type="button" class="btn btn-blue white" (click)="goToOverview()"> CREATE PROFILE</button>
    </div>
    <div class="mb-10">
      <button type="button" class="btn blue">CLOSE THE APP</button>
    </div>
  </div>

</ion-content>