.heading {
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: center;
    color: #2D3748;
}

.subheading {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #2D3748;
}

.form-group {
    margin-bottom: 16px;
}

.form-control {
    border: 1px solid #E5E5E5;
    margin-left: 28px;
    width: 63px;
    height: 60px;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 1px 0 dodgerBlue;
}

.center {
    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.submit {
    height: 56px;
    background: #e5e5e5;
    margin-top: 10px;
    text-align: center;
    color: #999999;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    border-radius: 0px;
    border: 0px;
    border-color: white;
    display: inline-block;
    width: 100%;
}

.resendOtpLabel {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: linear-gradient(0deg, #98197F, #98197F);
}

.resend {
    color: #1984B1 !important;
    text-decoration: underline;
}

.btn {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    border-radius: 100px;
    text-transform: uppercase;
    margin: 0 2px;
}

.btn-blue {
    background: #1981B4;
}

.otpdiv {
    display: flex;
    flex-flow: row;
}