.innerLabels {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #2D3748;
    font-family: 'Nunito Sans', sans-serif;
}

.text {

    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #2D3748;
    font-family: 'Nunito Sans', sans-serif;

}

.btn {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.25px;
    width: 85%;
    height: 40px;
    border-radius: 100px;
    text-transform: uppercase;
    margin: 0 30px;
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #1981B4;
    border: 1px solid #2D3748
}

.btn-blue {
    background: #1981B4;
}

hr {
    background: #E0E0E0;
}

.label{
font-family: 'Nunito Sans', sans-serif;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.15000000596046448px;
text-align: center;
color: #2D3748;
}

.margin{
    margin: 5% 2%;
}