
<ion-content class="main">
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="label">Lead Summary</div>
      </ion-label>
    </ion-item>
    <div class="container font-data margin">
      <div class="innerLabels">Location</div>
      <div class="text">5th Street, Koregaon Park annex, lane street, Pune, near Attelier 411001</div>
      <br>

      <div class="innerLabels">Lead Name</div>
      <div class="text">Serbia Builders</div>
      <br>

      <div class="innerLabels">Lead type</div>
      <div class="text">Building Constructions</div>
      <br>

      <div class="innerLabels">Contact Person</div>
      <div class="text">First Name Last Name</div>
      <br>

      <div class="innerLabels">Contact Phone number</div>
      <div class="text">+91 12345 67890</div>
      <br>

      <div class="innerLabels">Tonnage Required</div>
      <div class="text">100</div>

      <hr>
      <div class="label text-center">Photos</div>
      <br>

      <div class="mb-3">
        <button type="button" class="btn btn-blue white" (click)="goToCongrats()">Submit</button>
      </div>
      <div class="mb-3">
        <button type="button" class="btn blue">Edit</button>
      </div>

    </div>
  </ion-list>
</ion-content>