<ion-content class="ion-padding main">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Add Photos<span class="f-right">
            <img src="../../../assets/influencer-img/close.svg" alt="icon"></span>
        </h2>
        <p>Or click from the camera</p>
      </ion-label>
    </ion-item>
    <div class="container height-100">
      <div class="mb-3">
        <button type="button" class="btnadd btn-blue white">
          <img src="../../../assets/influencer-img/add.svg" alt="icon">&nbsp; Add photos
        </button>
      </div>

      <div class="d-flex">
        <div class="mb-3">
          <button type="button" class="btn blue">
            <img class="m-t-2" src="../../../assets/influencer-img/back.svg" alt="icon">&nbsp;
            Back </button>
        </div> &nbsp;&nbsp;
        <div class="mb-3">
          <button type="button" class="btn blue">Save & Exit</button>
        </div> &nbsp;&nbsp;
        <div class="mb-3">
          <button type="button" class="btn blue" (click)="goToLeadSummary()"> Next
            <img src="../../../assets/influencer-img/navigate_next.svg" alt="icon"> </button>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>